<div class="splash" ng-class="{ 'gone': !showSplash }">
  <div class="loader">
    <p class="message" ng-class="{ 'enter': showMessage1Enter, 'leave': showMessage1Leave}">Hi there!</p>
    <p class="message" ng-class="{ 'enter': showMessage2Enter, 'leave': showMessage2Leave}">Welcome to our new experience</p>

    <div class="username-form message" ng-class="{ 'enter': showMessage3Enter, 'leave': showMessage3Leave}">
      <p>Enter a username</p>
      <form class="ui fluid icon input massive" ng-submit="createUser()">
        <div>
          <input id="username-box" name="username" type="text" placeholder="New Username..." ng-model="username" autocomplete="off" />
          <i class="user icon"></i>
        </div>
      </form>
    </div>

    <p class="username-form message" ng-class="{ 'enter': showMessage4Enter, 'leave': showMessage4Leave}">Lean back and enjoy Vevo!</p>
    <div class="spinner" ng-show="loading"></div>
  </div>
</div>
